.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#selected-activity {
  display: block;
  height: 70px;
  margin-top: -140px;
  visibility: hidden;
}

/* .header-container {
  background-color: pink;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  align-items: center;
  z-index: 10000;
} */

.random-button {
  flex: 1 1 20%;
  background-color: lightcoral;
  color: white;
  word-wrap: normal;
  border-radius: 5px;
  min-width: 60px;
  max-width: 20%;
  margin: 0.25em;
  padding: 0.25em;
  text-decoration: none;
  cursor: pointer;
}

.random-button:hover {
  background-color: lightsalmon;
}

.clear-filter-button {
  background-color: lightcoral;
  text-align: center;
  color: white;
  width: 50%;
  margin: 0.5rem;
  word-wrap: normal;
  border-radius: 5px;
  padding: 0.25em;
  cursor: pointer;
}

.clear-filter-button:hover {
  background-color: lightsalmon;
}

.home {
  background-color: white;
  flex: 1 1 80%;
  min-height: 100%;
}

.footer-container {
  background-color: lightgreen;
  position: relative;
  width: 100%;
  height: 56px;
}

.logo-img {
  width: 30px;
  height: 30px;
}

.flex-left {
  justify-content: flex-start;
  max-width: 35px;
  margin: 0.25em;
}

#filter-box {
  display: flex;
  flex-direction: column;
}

.filter-component {
  margin: 2rem;
  background-color: lightgray;
}

.selected-activity-card {
  background-color: #ffcccc;
  flex: 1 1 20%;
  margin: 0.5em;
  padding: 1em;
  min-width: 150px;
  max-width: 20%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgray;
}

.collapsible {
  background-color: lightgray;
  color: #444;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.filter-collapsible-group {
  cursor: pointer;
  max-width: 100%;
  border: solid 1px lightgray;
  padding: 15px;
  background-color: #e6e6e6;
  color: black;
  font-family: verdana;
}

.filter-content {
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  font-family: verdana;
  font-size: 14px;
}

.filter-element {
  cursor: pointer;
}
