/* 
SLIDE IN SIDE-MENU
*/

.cd-panel {
    /*...*/
    visibility: hidden;
    transition: visibility 0s 0.6s;
  }

  .cd-panel.cd-panel--is-visible {
    visibility: visible;
    transition: visibility 0s 0s;
  }

  .cd-panel__header {
    /*...*/
    position: absolute;
    width: 80%;
    height: 100%;
    min-height: 100vh;
    /* transform: translateY(-50px); */
  }

  .cd-panel--from-right .cd-panel__header {
    right: 0;
  }

  .cd-panel--from-left .cd-panel__header {
    left: 0;
  }

  /* .cd-panel__container {
    position: absolute;
    background-color: #e6e6e6;
    width: 80%;
    height: 100%;
    top: 0;
    transition: transform 0.3s 0.3s;
  } */

  .cd-panel--from-right .cd-panel__container {
    right: 0;
    transform: translate3d(100%, 0, 0);
  }

  .cd-panel--from-left .cd-panel__container {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }

  .cd-panel--is-visible .cd-panel__container {
    transform: translate3d(0, 0, 0);
    transition-delay: 0s;
  }